[submodule "Optimizing Customer Segmentation"]
	path = Optimizing Customer Segmentation
	url = https://github.com/ramdhanhdy/Optimizing_Customer_Segmentation.git
[submodule "price_optimization"]
	path = price_optimization
	url = https://github.com/ramdhanhdy/price_optimization.git
[submodule "bus-schedule-app"]
	path = bus-schedule-app
	url = https://github.com/ramdhanhdy/bus-schedule-app.git
